.container input[type="checkbox"] {
	display: none;
}

.container input[type="checkbox"]+label {
	display: inline-block;
	margin: 0;
	width: 20px;
	height: 20px;
	background: url("img/whiteStar.png") no-repeat;
	cursor: pointer;
}

.container input[type="checkbox"]:checked+label {
	background: url("img/yellowStar.png") no-repeat;
}

.col {
	float: left;
	padding: 25px 0 30px;
	width: 480px;
	border-top: 1px solid #e5e6eb;
	border-bottom: 1px solid #e5e6eb;
	font-size: 14px;
	letter-spacing: -0.5px;
	margin-left: 50px
}

.col+.col {
	margin-left: 50px
}

.col>dl {
	display: block;
	position: relative;
	margin-top: 5px;
	padding-left: 86px;
	min-height: 22px
}

.col>dl:first-child {
	margin-top: 10
}

.col>dl>dt {
	position: absolute;
	top: 0;
	left: 0;
	color: #888;
	line-height: 23px
}

.col>dl>dd {
	color: #444;
	line-height: 23px
}

.companyHire td span {
	line-height: 30px;
	font-size: 30px
}
.companyHire tr td span {
	line-height: 30px;
	font-size: 30px
}

.companyHire td {
	line-height: 30px;
	font-size: 20px
}

.starBtn {
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px;
	background: url(img/whiteStar.png) no-repeat;
}

.header span {
	margin-right: 200px;
	font-size: 40px
}

.header h1 button {
	line-height: 30px;
	font-size: 30px
}
#qualify td{border-left:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd}
#qualify td:first-child{border-left:0px solid;}

.howto td,.howto tr{margin:5px 0 0 ;padding:3px}
.start{width:80px;float:left;border:1px solid #cdcdcd; color:#cdcdcd;border-radius:26px;font-size:14px;line-height:22px;text-align:center}
.end{width:80px;float:left;border:1px solid #4876ef; color:#4876ef;border-radius:26px;font-size:14px;line-height:22px;text-align:center}
.howto span button{font-size:23px}

#companyInfo div img{float:left;margin-right:50px}
#companyInfo div dt,dd{display:inline;margin-right:10px;}
#companyInfo div dl{float:left;width:250px;margin-right:10px;}
#companyInfo div span b{font-size:25px}
 
 
#floatingView {border-bottom:1px solid gray;display:none;width:100%;position:fixed;z-index:10;background:#fff;padding:0px;margin-left:-15px}

.remote{position:fixed;top:222px;left:50%;width:100px;z-index:100;transform:translate(-666%, -50%);} 